In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

In [3]:
import h2o 
h2o.init(max_mem_size="16G")
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; OpenJDK 64-Bit Server VM Zulu23.32+11-CA (build 23.0.2+7, mixed mode, sharing)
  Starting server from C:\Users\s-A117-17\.conda\envs\brvehins_h2o_polars_env\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\S-A117~1\AppData\Local\Temp\tmp5a7e9ox3
  JVM stdout: C:\Users\S-A117~1\AppData\Local\Temp\tmp5a7e9ox3\h2o_s_A117_17_started_from_python.out
  JVM stderr: C:\Users\S-A117~1\AppData\Local\Temp\tmp5a7e9ox3\h2o_s_A117_17_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is (4 months and 21 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  --------------------------------
H2O_cluster_uptime:         10 secs
H2O_cluster_timezone:       Europe/Warsaw
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.6
H2O_cluster_version_age:    4 months and 21 days
H2O_cluster_name:           H2O_from_python_s_A117_17_ab7qx5
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    15.98 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.13.1 final
--------------------------  --------------------------------

In [ ]:
### Sprawdz h2o dokumentacje - jest spoko
# GLMBooklset.pdf

In [12]:
project_root = Path.cwd()
project_root

WindowsPath('d:/kasia/brvehins')

In [13]:
data_processed_dir = project_root / "dane"
processed_file_name = data_processed_dir / "brvehins1.parquet"
processed_file_name

WindowsPath('d:/kasia/brvehins/dane/brvehins1.parquet')

## Read data

In [14]:
input_df = h2o.import_file(str(processed_file_name))
input_df

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

Gender     DrivAge      VehYear  VehModel                                                    VehGroup                        Area                                      State               StateAb      ExposTotal    ExposFireRob    PremTotal    PremFireRob    SumInsAvg    ClaimNbRob    ClaimNbPartColl    ClaimNbTotColl    ClaimNbFire    ClaimNbOther    ClaimAmountRob    ClaimAmountPartColl    ClaimAmountTotColl    ClaimAmountFire    ClaimAmountOther
---------  ---------  ---------  ----------------------------------------------------------  ------------------------------  ----------------------------------------  ------------------  ---------  ------------  --------------  -----------  -------------  -----------  ------------  -----------------  ----------------  -------------  --------------  ----------------  ---------------------  --------------------  -----------------  ------------------
Female     >55             1997  Gm - Chevrolet - Kadett Gl 2.0 Mpfi / Efi                   Gm Chevrolet Kadett             Interior                                  Rio de Janeiro      RJ                 1.01               0       742.75              0     10853                0                  0                 0              0               0                 0                      0                     0                  0                   0
Female     36-45           2010  Gm - Chevrolet - Montana 1.4 8v Conquest Econoflex  2p      Gm Chevrolet Montana            Maranhao                                  Maranhao            MA                 3                  0      5025.68              0     31009.7              0                  0                 0              0               0                 0                      0                     0                  0                   0
Female     18-25           2008  Vw - Volkswagen - Fox City 1.0mi/ 1.0mi Total Flex 8v 3p    Vw Volkswagen Fox 1.0           Mato Grosso do Sul                        Mato Grosso do Sul  MS                 1.01               0       916.26              0     24977.2              0                  0                 0              0               0                 0                      0                     0                  0                   0
Male       >55             2004  Harley-davidson - Fat Boy                                   Harley-davidson Motos - Todas   Met. Porto Alegre e Caxias do Sul         Rio Grande do Sul   RS                 1.45               0      1601.68              0     35932.7              0                  0                 0              0               0                 0                      0                     0                  0                   0
Male       36-45           2009  Volvo - Fh 440 6x2 2p (diesel)                              Volvo Caminhoes - Todos         Ribeirao Preto e Demais Mun. de Campinas  Sao Paulo           SP                 4.55               0     53031.3               0    301890                0                  1                 0              0               0                 0                    648                     0                  0                   0
Male       26-35           1998  Vw - Volkswagen - Gol Gl 1.6 Mi/star 1.6 E 1.8/atlanta 1.6  Vw Volkswagen Gol Acima De 1.0  Met. Porto Alegre e Caxias do Sul         Rio Grande do Sul   RS                 1                  0       660.59              0     13574                0                  1                 0              0               2                 0                   2773                     0                  0                 120
Male       18-25           1999  Gm - Chevrolet - Corsa Sedan Super 1.0 Mpfi 4p              Gm Chevrolet Corsa 1.0          Grande Campinas                           Sao Paulo           SP                 1.01               0       959.55              0     14043.6              0                  0                 0              0               0                 0                      0                     0                  0                   0
Corporate  nan             2006  Honda - Cg 150 Titan-esd/ Titan Special Edition             Honda Motos Ate 450cc           Vale do Paraiba e Ribeira                 Sao Paulo           SP                 1.51               0       981.83              0      4929.81             0                  0                 0              0               0                 0                      0                     0                  0                   0
Male       36-45           2010  Volvo - C30 2.0 145cv                                       Volvo - Outros                  Triangulo mineiro                         Minas Gerais        MG                 0.25               0       822.1               0         0                0                  0                 0              0               0                 0                      0                     0                  0                   0
Female     26-35           2002  Fiat - Uno Mille 1.0 Fire/ F.flex/ Economy 4p               Fiat Uno 1.0                    Demais regioes                            Rio Grande do Sul   RS                 0.93               0       589.07              0     13976.5              0                  0                 0              0               0                 0                      0                     0                  0                   0
[1965355 rows x 23 columns]

In [15]:
input_df.describe()

Rows:1965355
Cols:23

         Gender     DrivAge    VehYear            VehModel                                                    VehGroup                        Area                                      State               StateAb    ExposTotal          ExposFireRob    PremTotal           PremFireRob    SumInsAvg           ClaimNbRob            ClaimNbPartColl      ClaimNbTotColl        ClaimNbFire            ClaimNbOther        ClaimAmountRob     ClaimAmountPartColl    ClaimAmountTotColl    ClaimAmountFire     ClaimAmountOther
-------  ---------  ---------  -----------------  ----------------------------------------------------------  ------------------------------  ----------------------------------------  ------------------  ---------  ------------------  --------------  ------------------  -------------  ------------------  --------------------  -------------------  --------------------  ---------------------  ------------------  -----------------  ---------------------  --------------------  ------------------  ------------------
type     enum       enum       int                enum                                                        enum                            enum                                      enum                enum       real                int             real                int            real                int                   int                  int                   int                    int                 int                int                    int                   int                 int
mins                           0.0                                                                                                                                                                                     0.0                 0.0             0.0                 0.0            0.0                 0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
mean                           2005.178526889172                                                                                                                                                                       3.1853612116435848  0.0             3730.594227093668   0.0            39413.438327436306  0.030163507356177465  0.22397073302278656  0.018497930399342475  0.0008191904261571082  0.4820665986551949  745.7559367137178  837.1295374118108      615.1462611080459     19.156278636683954  146.70082504178905
maxs                           2012.0                                                                                                                                                                                  8078.440000000001   0.0             6478755.129999999   0.0            1307269.9399999997  164.0                 1617.0               66.0                  6.0                    1278.0              4421765.0          2289213.0              2201873.0             581152.0            967914.0
sigma                          6.739706668716953                                                                                                                                                                       15.938836310979733  0.0             18199.844410480942  0.0            38696.99414377571   0.31646616946795403   2.6883007081727643   0.16469712419304788   0.03013421754081351    5.017402740690113   9259.614074578063  6460.140773757705      6753.409133581282     1262.4719282645876  2626.0285297161436
zeros                          8                                                                                                                                                                                       51762               1965355         51762               1965355        140667              1923094               1749216              1932654               1963815                1775601             1923094            1749216                1932654               1963815             1775601
missing  0          0          4                  120515                                                      120515                          0                                         0                   0          0                   0               0                   0              0                   0                     0                    0                     0                      0                   0                  0                      0                     0                   0
0        Female     >55        1997.0             Gm - Chevrolet - Kadett Gl 2.0 Mpfi / Efi                   Gm Chevrolet Kadett             Interior                                  Rio de Janeiro      RJ         1.01                0.0             742.75              0.0            10852.99            0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
1        Female     36-45      2010.0             Gm - Chevrolet - Montana 1.4 8v Conquest Econoflex  2p      Gm Chevrolet Montana            Maranhao                                  Maranhao            MA         3.0                 0.0             5025.68             0.0            31009.73            0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
2        Female     18-25      2008.0             Vw - Volkswagen - Fox City 1.0mi/ 1.0mi Total Flex 8v 3p    Vw Volkswagen Fox 1.0           Mato Grosso do Sul                        Mato Grosso do Sul  MS         1.01                0.0             916.2599999999998   0.0            24977.180000000004  0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
3        Male       >55        2004.0             Harley-davidson - Fat Boy                                   Harley-davidson Motos - Todas   Met. Porto Alegre e Caxias do Sul         Rio Grande do Sul   RS         1.45                0.0             1601.68             0.0            35932.66            0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
4        Male       36-45      2009.0             Volvo - Fh 440 6x2 2p (diesel)                              Volvo Caminhoes - Todos         Ribeirao Preto e Demais Mun. de Campinas  Sao Paulo           SP         4.55                0.0             53031.35            0.0            301889.74           0.0                   1.0                  0.0                   0.0                    0.0                 0.0                648.0                  0.0                   0.0                 0.0
5        Male       26-35      1998.0             Vw - Volkswagen - Gol Gl 1.6 Mi/star 1.6 E 1.8/atlanta 1.6  Vw Volkswagen Gol Acima De 1.0  Met. Porto Alegre e Caxias do Sul         Rio Grande do Sul   RS         1.0                 0.0             660.59              0.0            13574.0             0.0                   1.0                  0.0                   0.0                    2.0                 0.0                2773.0                 0.0                   0.0                 120.0
6        Male       18-25      1999.0             Gm - Chevrolet - Corsa Sedan Super 1.0 Mpfi 4p              Gm Chevrolet Corsa 1.0          Grande Campinas                           Sao Paulo           SP         1.01                0.0             959.55              0.0            14043.630000000003  0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
7        Corporate  nan        2006.0             Honda - Cg 150 Titan-esd/ Titan Special Edition             Honda Motos Ate 450cc           Vale do Paraiba e Ribeira                 Sao Paulo           SP         1.51                0.0             981.8300000000002   0.0            4929.810000000001   0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
8        Male       36-45      2010.0             Volvo - C30 2.0 145cv                                       Volvo - Outros                  Triangulo mineiro                         Minas Gerais        MG         0.25                0.0             822.1000000000001   0.0            0.0                 0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
9        Female     26-35      2002.0             Fiat - Uno Mille 1.0 Fire/ F.flex/ Economy 4p               Fiat Uno 1.0                    Demais regioes                            Rio Grande do Sul   RS         0.93                0.0             589.07              0.0            13976.55            0.0                   0.0                  0.0                   0.0                    0.0                 0.0                0.0                    0.0                   0.0                 0.0
[1965355 rows x 23 columns]

In [19]:
conditions = (
    (input_df["VehYear"] > 0)
    & (input_df["ExposTotal"] > 0)
    & (input_df["PremTotal"] > 0)
    & (input_df["SumInsAvg"] > 0)
)

In [21]:
df = input_df[conditions]
df.shape

(1824688, 23)

In [22]:
type(df)

h2o.frame.H2OFrame

In [25]:
# df.describe()

In [ ]:
# modele addytywne vs multiplikatywne

# dla offset nie chcemy estymowac wspolczynnikow ale wiemy ze ona wplywa na modell, w ubezpieczeniach do offsetu wrzucamy log(exposure),
# offset dodajemy tylko do modelu frequency (model czestotlowosci szkod)
# frequency = liczba szkod / expozure

In [ ]:
# https://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/glm.html
# https://docs.h2o.ai/h2o/latest-stable/h2o-py/docs/frame.html?highlight=log#h2o.H2OFrame.log - dokumentacja h2o

$Frequency = \frac{Liczba\ szkod}{Expozure}$

$$\ln (Frequency)=\beta_0+\beta_1 X_1+\beta_2 X_2+\ldots+\beta_k X_k$$

$$\ln (\frac{Liczba\ szkod}{Expozure})=\beta_0+\beta_1 X_1+\beta_2 X_2+\ldots+\beta_k X_k$$

$$\ln(Liczba\ szkod) - \ln(Expozure)=\beta_0+\beta_1 X_1+\beta_2 X_2+\ldots+\beta_k X_k$$

$$\ln(Expozure)=\beta_0+\beta_1 X_1+\beta_2 X_2+\ldots+\beta_k X_k+\ln(Expozure)$$

## Model parameters

In [49]:
df.columns

['Gender',
 'DrivAge',
 'VehYear',
 'VehModel',
 'VehGroup',
 'Area',
 'State',
 'StateAb',
 'ExposTotal',
 'ExposFireRob',
 'PremTotal',
 'PremFireRob',
 'SumInsAvg',
 'ClaimNbRob',
 'ClaimNbPartColl',
 'ClaimNbTotColl',
 'ClaimNbFire',
 'ClaimNbOther',
 'ClaimAmountRob',
 'ClaimAmountPartColl',
 'ClaimAmountTotColl',
 'ClaimAmountFire',
 'ClaimAmountOther',
 'log(ExposTotal)']

In [50]:
COVERAGE = "PartColl"
EXPOSURE = "ExposTotal"
RESPONSE = f"ClaimNb{COVERAGE}"
WEIGHTS = None

## Create offset column

In [51]:
exposure_log= df["ExposTotal"].log()
exposure_log

  log(ExposTotal)
-----------------
       0.00995033
       1.09861
       0.00995033
       0.371564
       1.51513
       0
       0.00995033
       0.41211
      -0.0725707
       2.34373
[1824688 rows x 1 column]

In [52]:
df = df.cbind(exposure_log)

In [53]:
df.columns

['Gender',
 'DrivAge',
 'VehYear',
 'VehModel',
 'VehGroup',
 'Area',
 'State',
 'StateAb',
 'ExposTotal',
 'ExposFireRob',
 'PremTotal',
 'PremFireRob',
 'SumInsAvg',
 'ClaimNbRob',
 'ClaimNbPartColl',
 'ClaimNbTotColl',
 'ClaimNbFire',
 'ClaimNbOther',
 'ClaimAmountRob',
 'ClaimAmountPartColl',
 'ClaimAmountTotColl',
 'ClaimAmountFire',
 'ClaimAmountOther',
 'log(ExposTotal)',
 'log(ExposTotal)0']

In [62]:
OFFSET = f"log({EXPOSURE})"

## Create train test split

In [63]:
df_train, df_test = df.split_frame(ratios=[.8], seed=54321)

In [64]:
print(f"Training data shape: {df_train.dim}")
print(f"Testing data shape: {df_test.dim}")

Training data shape: [1459895, 25]
Testing data shape: [364793, 25]

# Model fitting

## Predictors

In [65]:
predictors = [
    'Gender',
    'DrivAge',
    'VehYear',
    # 'VehModel',
    'VehGroup',
    # 'Area',
    # 'State',
    'StateAb',
    'SumInsAvg'
]

## Run a model

In [66]:
# GLM parameters
glm_params = {
    "family" : "poisson",
    "link" : "log",
    "seed" : 54321,
    "compute_p_values" : True,
    "remove_collinear_columns" : True,
    # "standardize": True,
    "lambda_" : 0,
    "solver" : "IRLSM"
}

In [67]:
glm_model = H2OGeneralizedLinearEstimator(**glm_params)

In [68]:
glm_model.train(
    x=predictors,
    y=RESPONSE,
    weights_column=WEIGHTS,
    offset_column=OFFSET,
    training_frame=df_train
)

glm Model Build progress: |

██████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OGeneralizedLinearEstimator : Generalized Linear Modeling
Model Key: GLM_model_python_1742721179658_4


GLM Model: summary
    family    link    regularization    number_of_predictors_total    number_of_active_predictors    number_of_iterations    training_frame
--  --------  ------  ----------------  ----------------------------  -----------------------------  ----------------------  ----------------
    poisson   log     None              472                           459                            10                      py_17_sid_b414

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 7.06466286755488
RMSE: 2.657943352962
MAE: 0.20852839620998193
RMSLE: 0.22901921640698375
Mean Residual Deviance: 0.4424105913726282
R^2: 0.08355838846477837
Null degrees of freedom: 1459894
Residual degrees of freedom: 1459435
Null deviance: 970067.9163161671
Residual deviance: 645873.0102919431
AIC: 1002803.6552569717

Scoring History:
    timestamp            duration    iterations    negative_log_likelihood    objective    training_rmse    training_deviance    training_mae         training_r2
--  -------------------  ----------  ------------  -------------------------  -----------  ---------------  -------------------  -------------------  -------------------
    2025-03-23 12:04:01  0.000 sec   0             970068                     0.664478
    2025-03-23 12:04:02  1.453 sec   1             776276                     0.531734
    2025-03-23 12:04:02  1.742 sec   2             678557                     0.464799
    2025-03-23 12:04:03  2.139 sec   3             651288                     0.44612
    2025-03-23 12:04:03  2.422 sec   4             647105                     0.443255
    2025-03-23 12:04:03  2.717 sec   5             646128                     0.442585
    2025-03-23 12:04:04  2.942 sec   6             645932                     0.442451
    2025-03-23 12:04:04  3.196 sec   7             645885                     0.442419
    2025-03-23 12:04:04  3.456 sec   8             645876                     0.442412
    2025-03-23 12:04:05  3.783 sec   9             645873                     0.442411
    2025-03-23 12:04:05  4.031 sec   10            645873                     0.442411     2.657943352962   0.4424105913726282   0.20852839620998193  0.08355838846477837

Variable Importances:
variable                   relative_importance    scaled_importance    percentage
-------------------------  ---------------------  -------------------  ---------------------
Gender.nan                 16.676498413085938     1.0                  0.0048155357062848155
Gender.Male                15.927249908447266     0.9550715932038382   0.004599181359131409
Gender.Female              15.834029197692871     0.9494816480939436   0.004572262778858539
VehGroup.Engesa            14.710991859436035     0.8821391334701545   0.004247972495136676
VehGroup.Ford F-100        13.862899780273438     0.8312836086378488   0.004003075899444854
VehGroup.Citroen C6        13.838726997375488     0.8298340967379777   0.00399609572313434
StateAb.nan                13.700900077819824     0.8215693569741727   0.003956296573698584
VehGroup.Ford Corcel       13.59573745727539      0.8152633197030682   0.003925929626054418
VehGroup.Audi A8           13.239952087402344     0.7939287828560606   0.0038231924020906034
VehGroup.Hyundai Sonata    12.979748725891113     0.7783257854482204   0.0037480556109480796
---                        ---                    ---                  ---
VehGroup.Cbt Jipe          0.0                    0.0                  0.0
VehGroup.Dodge Avenger     0.0                    0.0                  0.0
VehGroup.Dodge Stealth     0.0                    0.0                  0.0
VehGroup.Fiat Bravo        0.0                    0.0                  0.0
VehGroup.Ford Aspire       0.0                    0.0                  0.0
VehGroup.Ford Contour      0.0                    0.0                  0.0
VehGroup.Ford Thunderbird  0.0                    0.0                  0.0
VehGroup.Honda Passport    0.0                    0.0                  0.0
VehGroup.Hyundai Scoupe    0.0                    0.0                  0.0
VehGroup.Lada Samara       0.0                    0.0                  0.0
[472 rows x 4 columns]


[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [69]:
glm_model.coef_with_p_values()

Coefficients: glm coefficients
names                              coefficients            std_error               z_value                 p_value                 standardized_coefficients
---------------------------------  ----------------------  ----------------------  ----------------------  ----------------------  ---------------------------
Intercept                          -190.93409250295807     1618.8599664368242      -0.11794355068475236    0.9061123855896275      -29.978834858098274
VehGroup.Agrale - Marrua           -1.5720508193949119     1686.8297991287418      -0.0009319558026582682  0.9992564069613485      -1.5720508193949119
VehGroup.Agrale Caminhoes - Todos  9.808725650955454       1618.8544034014456      0.006059053630978742    0.9951656042349453      9.808725650955454
VehGroup.Agrale Motos - Todas      -0.9192902390368038     12845.812808907518      -7.156341546557112e-05  0.9999429006557304      -0.9192902390368038
VehGroup.Alfa Romeo 145            -0.7043978901231431     1694.472787794761       -0.0004157032766751411  0.9996683167832188      -0.7043978901231431
VehGroup.Alfa Romeo 147            12.53300481320381       1618.8546901416953      0.007741896100697475    0.9938229223358465      12.53300481320381
VehGroup.Alfa Romeo 155            0.10801862266608582     1730.0386066585338      6.243711686568506e-05   0.9999501823884642      0.10801862266608582
VehGroup.Alfa Romeo 156            11.73427970021707       1618.854458509234       0.007248508127792351    0.9942165779203628      11.73427970021707
VehGroup.Alfa Romeo 164            11.744457031170684      1618.85469001725        0.0072547938388747785   0.9942115627804023      11.744457031170684
VehGroup.Alfa Romeo 166            -1.5126555351489226     1708.6769803954871      -0.0008852788165957537  0.9992936497924957      -1.5126555351489226
---                                ---                     ---                     ---                     ---                     ---
DrivAge.26-35                      -0.35992140354631996    0.00933739798184868     -38.546220718661104     0.0                     -0.35992140354631996
DrivAge.36-45                      -0.16218614569213302    0.0089693134545319      -18.082336682099754     4.390747861808643e-73   -0.16218614569213302
DrivAge.46-55                      -0.42898753795468864    0.00943168203949994     -45.48367260029402      0.0                     -0.42898753795468864
DrivAge.>55                        -0.537439996353871      0.009543883023523636    -56.312508758667306     0.0                     -0.537439996353871
DrivAge.nan                        2.6132947602820886      0.03236279904861825     80.74996097698987       0.0                     2.6132947602820886
Gender.Female                      15.834028931031247      4.0094937836758655      3.9491341763634713      7.843437964856126e-05   15.834028931031247
Gender.Male                        15.927249803190044      4.009493515663914       3.9723844772330854      7.11567473943294e-05    15.927249803190044
Gender.nan                         16.676498960887695      4.009377754509844       4.1593733446866095      3.191219169073352e-05   16.676498960887695
VehYear                            0.0802888253446548      0.0007256862676779992   110.63847963053983      0.0                     0.3858114168932135
SumInsAvg                          -1.679899333630056e-06  1.4618957659623526e-07  -11.491238792419605     1.4600305537412202e-30  -0.06463182710723062
[473 rows x 6 columns]

In [ ]:
# Gender.Corporate to zmienna bazowa
# czyli jak bedzie Gender.Female to szkoda wzrośnie o e^(15.83) wzgledem bazowej zmiennej
# zmienna bazowa ma wspolczynnik e^(0)

In [ ]:
# jak sie robi model glm to patrzy sie na te metryki evaluacyjne
# Null deviance: 970067.9163161671
# Residual deviance: 645873.0102919431
# metrki typu mse, rmse, mae sa tu bezuzyteczne - w ubezpieczeniah predykcja nie ma byc najlepsza, tylk dana osobe mamy zaklasyfikowac do odpowiediego koszyka ryzyka